<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="hero-container">
  <div class="hero-card">
    <!-- Left Side: Text Content -->
    <div class="hero-text">
      <h4 class="text-yellow-500 font-semibold">ICT student</h4>
      <h1 class="text-4xl font-bold mt-2">Hallo, mijn naam <br> is Julia Pieters</h1>
      <p class="text-gray-600 mt-4">Ik zit in mijn derde jaar van de opleiding HBO-ICT aan de HZ University Of Applied Sciences</p>
      <div class="mt-6">
        <button class="btn-projects" (click)="openProjects()">Projects</button>
        <button class="btn-linkedin" (click)="navigateToLinkedIn()">LinkedIn</button>
      </div>
    </div>
    <!-- Right Side: Image -->
    <div class="hero-image-container">
      <div class="hero-image-container">
        <img ngSrc="assets/Julia-portret.jpg" alt="Julia Pieters" class="w-full rounded-lg shadow-lg object-cover"
             height="1333" width="2000">
      </div>
    </div>
  </div>
</div>
</body>
</html>
