<div class="project-detail">
  <h1 class="project-detail-title">Scholengroep de Pontes</h1>

  <div class="project-detail-card">
    <p>
      Een project dat ik heb gedaan in mijn eerste jaar van de opleiding HBO-ICT voor Scholengroep de Pontes.
    </p>

    <h2>De probleemstelling</h2>
    <p>
      De klant (een docent) waarvoor dit project is gemaakt liep tegen het probleem aan dat hij alle administratie voor het middelbare schoolvak informatica handmatig deed. Dit kostte veel werk. De klant vroeg mij en mijn groepje om een website te ontwikkelen waar hij makkelijk leerlingen kan toevoegen, cijfers voor bepaalde projecten kan invoeren, projecten kan aanmaken, en leerdoelen kan bijhouden. Ook wilde hij dat leerlingen zelf op de website konden bijhouden hoe ver ze zijn voor een bepaald project en welk cijfer zij hebben gehaald.
    </p>

    <h2>De applicatie</h2>
    <p>
      Er is een website ontwikkeld waarbij je kunt inloggen met een docent- of leerlingaccount, waarna je per account verschillende functionaliteiten verkrijgt. Een docent kan cijfers invoeren, projecten aanmaken en leerdoelen bijhouden, terwijl een leerling kan inloggen om te bekijken hoe hij of zij ervoor staat en aan welk project hij of zij werkt. Er is gebruikgemaakt van databases voor de verschillende accounts, Microsoft SSO voor inloggen, en de applicatie is gebouwd met PHP en SQL.
    </p>

    <img src="assets/pontes-website.png" alt="Schermafbeelding de Pontes website">

    <h2>Mijn ontwikkeling</h2>
    <p>
      Dit project was voor mij de eerste keer om "from scratch" een website te ontwikkelen in een programmeertaal waar ik nog niet bekwaam in was. Ook is er veel onderzoek gedaan naar het inloggen met Microsoft SSO – dit was een hele klus, maar het is uiteindelijk gelukt en hier heb ik veel van geleerd. Verder was dit voor mij ook de eerste keer dat ik werkte met verschillende SCRUM methodieken zoals daily stand-ups & stand-downs, retro's, demo's en rollen zoals team coach, tracker en user customer. Ik merkte dat ik het beste was in de rol tracker, omdat ik erg punctieel ben.
    </p>
  </div>
</div>
