.project-card {
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: "Funnel Display", sans-serif;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: "Funnel Display", sans-serif;
}
.h1 {
  font-family: "Funnel Display", sans-serif;
}
.custom-title {
  font-family: "Funnel Display", sans-serif;
}
