<div class="container mx-auto py-12 px-6 text-gray-800">
  <h1 class="text-4xl font-bold text-center text-gray-900 mb-6">Anxiety Ally</h1>

  <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">

    <div class="p-6">
      <p class="text-lg mb-4">
        Een webapplicatie met als onderwerp Anxiety gemaakt in het framework Svelte.
      </p>
      <h2 class="text-2xl font-semibold text-gray-900 mb-2">Over de opdracht</h2>
      <p class="text-gray-700 mb-4">
        Een van de projecten die ik in mijn tweede jaar heb gedaan is het maken van een webapplicatie. Ik kreeg de opdracht om een zelfbedacht probleem aan te pakken dat te maken heeft met het onderwerp “anxiety”
      </p>
      <h2 class="text-2xl font-semibold text-gray-900 mb-2">De bedachte opdracht</h2>
      <p class="text-gray-700 mb-4">
        Mijn groepje en ik hadden bedacht om een webapplicatie genaamd AnxietyAlly te maken die als doel heeft dat de gebruiker een quiz maakt met verschillende vragen waarna er een indicatie wordt gegeven of de gebruiker last kan hebben van een vorm van anxiety.
        Het doel van dit project was ook dat de gebruiker bewust wordt van de problemen waar hij of zij tegen aan loopt als het gaat om anxiety problemen en niet zo zeer dat de webapplicatie de problemen oplost want dat kunnen wij natuurlijk niet. Denk dan bijvoorbeeld aan dat de gebruiker erachter komt dat hij of zij een vorm van een depressie kan hebben. 
      </p>
      <h2 class="text-xl font-semibold text-gray-800 mb-2">De applicate</h2>
      <p>
        Om ons doel te behalen is er dus een webapplicatie ontwikkeld waar gebruikers een quiz met vragen invullen en vervolgens een indicatie krijgen waar zij eventueel last van zouden kunnen hebben. Vervolgens kan de gebruiker dagelijks via een agenda invullen hoe diegene zich voelt om zo te kunnen tracken hoe het met je mentale gezondheid gaat. De applicatie bevat ook tips die passen bij de uitkomst van de quiz en de meest speciale functie die de applicatie is chatten met Robodoc. Hier kan de gebruiker chatten met een AI tool die de gebruiker kan helpen met mentale problemen.
      </p>
      <div class="text-center my-6">
        <video class="w-full rounded-lg shadow-lg" controls>
          <source src="../../../assets/Untitled_video_-_Made_with_Clipchamp.MP4" type="video/mp4">
          Je browser ondersteunt deze video niet.
        </video>
      </div>
      <h2 class="text-2xl font-semibold text-gray-900 mb-2">Mijn ontwikkeling</h2>
      <p class="text-gray-700 mb-4">
        Tijdens dit project is er gewerkt met verschillende scrum methodieken zoals daily stand-ups & stand-downs, retro's, demo' en is er gewerkt met rollen zoals team coach, tracker en user customer. Door deze methodieken heb ik veel geleerd over het werken in teamverbanden. Ook heb ik binnen dit project voor het eerst gewerkt met Svelte en hierdoor merkte ik dat ik de frontend van applicties het interessants en leukst vind om te doen.
      </p>
      <p>Binnen dit project heb ik vooral gewerkt aan de agenda feature waar de gebruiker dus zijn of haar emotie van die dag in kan vullen en dat dit wordt opgeslagen.</p>
    </div>
  </div>
</div>
