<div class="project-detail">
  <h1 class="project-detail-title">Anxiety Ally</h1>

  <div class="project-detail-card">
    <p>
      Een webapplicatie met als onderwerp Anxiety, gemaakt in het framework Svelte.
    </p>

    <h2>Over de opdracht</h2>
    <p>
      Een van de projecten die ik in mijn tweede jaar heb gedaan is het maken van een webapplicatie. Ik kreeg de opdracht om een zelfbedacht probleem aan te pakken dat te maken heeft met het onderwerp "anxiety".
    </p>

    <h2>De bedachte opdracht</h2>
    <p>
      Mijn groepje en ik hadden bedacht om een webapplicatie genaamd AnxietyAlly te maken die als doel heeft dat de gebruiker een quiz maakt met verschillende vragen waarna er een indicatie wordt gegeven of de gebruiker last kan hebben van een vorm van anxiety.
      Het doel van dit project was ook dat de gebruiker bewust wordt van de problemen waar hij of zij tegenaan loopt als het gaat om anxiety problemen – niet zo zeer dat de webapplicatie de problemen oplost. Denk dan bijvoorbeeld aan dat de gebruiker erachter komt dat hij of zij een vorm van depressie kan hebben.
    </p>

    <h2>De applicatie</h2>
    <p>
      Om ons doel te behalen is er een webapplicatie ontwikkeld waar gebruikers een quiz invullen en vervolgens een indicatie krijgen van wat zij eventueel kunnen ervaren. De gebruiker kan ook dagelijks via een agenda invullen hoe diegene zich voelt om zo de mentale gezondheid bij te houden. De applicatie bevat ook tips die passen bij de uitkomst van de quiz, en de meest bijzondere feature is Robodoc – een AI chatbot die de gebruiker kan helpen met mentale vragen.
    </p>

    <div class="video-container">
      <video controls>
        <source src="assets/Untitled_video_-_Made_with_Clipchamp.MP4" type="video/mp4">
        Je browser ondersteunt deze video niet.
      </video>
    </div>

    <h2>Mijn ontwikkeling</h2>
    <p>
      Tijdens dit project is er gewerkt met verschillende scrum methodieken zoals daily stand-ups & stand-downs, retro's en demo's, en zijn er rollen zoals team coach, tracker en user customer gebruikt. Door deze methodieken heb ik veel geleerd over het werken in teamverbanden. Ook heb ik binnen dit project voor het eerst gewerkt met Svelte en hierdoor merkte ik dat ik de frontend van applicaties het interessantst en leukst vind om te doen.
    </p>
    <p>Binnen dit project heb ik vooral gewerkt aan de agenda feature, waarbij de gebruiker zijn of haar emotie van die dag kan invullen en opslaan.</p>
  </div>
</div>
